/*navbar*/
.navbar {
    padding: 0 0 2rem;
}
.navbar-brand {
    font-family: 'libre', serif;
    font-size: 2.5rem;
    font-style: light;
    font-weight: medium;
}

.highlight-text /*SERINA LI in navbar*/ {
    color: #b65577;
}

.nav-item {
    padding: 0 18px;
    
}

.navbar .navbar-toggler .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(182, 85, 119, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
    font-family: 'noto sans', sans-serif;
    font-size: 1.1rem;
    color: #000000 !important;
    transition: color 0.3s ease;
    font-weight: 400;
}

.nav-link:hover {
    color: #b65577 !important;
}

#title /*first section*/ {
    background-color: #faf3eb;
    z-index: 1;
    position: relative;
}

.intro /*MSVD intro/opening*/ {
  padding: 2% 0% 5% 0% !important;
}

.main-contents {
  padding-top: 5%;
}

.main-header {
    font-size: 1.5rem;
    padding-bottom: 5%;
    font-family: noto sans, sans-serif;
    font-weight: 350;
    color: #b65577;
}

.main-description {
  font-family: libre, serif;
  font-size: 3rem;

}

/*title image*/
.title-image {
    max-width: 100%;
    z-index: 2;
    position: relative;
    /*float: right;*/
    align-items: left;
}

.roles {
  padding: 0% !important;
}

.description-role {
  font-size: 1rem;
  color: #b65577;
}

.description-role-p {
  font-size: 1rem;
  color:#000000;
}

.my-main-divider {
  border: .7px solid #000000;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.my-divider {
  border: .7px solid #000000;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-opener {
  font-size: 1.2rem;
  font-family: noto sans, sans-serif;
  font-weight: 400;
  color:#b65577;
  padding-bottom: 1%;
  padding-left: 10%;
}

.row {
  padding-left: 10%;
  padding-right: 10%;
}

.problem-overview {
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

.header-type {
  font-family: libre, serif;
  font-size: 2rem;
  font-weight: 400;
}

.info-section {
  padding-left: 10%;
  padding-right: 10%;
}

.info-arch {
  width: 100%;
  padding-bottom: 3%;
}

.official-arch {
  width: 100%;
}

.images {
  padding:0%;
}

.hifi-section {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}

/*li {
  color:#000000;
    font-size: 1rem;
    font-family: 'noto sans', sans-serif;
    font-weight:300;
    font-style: light;
    padding-bottom: 1%;
}*/

body {
    background-color: #faf3eb;
}

.container-fluid {
    padding: 3% 10%;
    padding-bottom: 0%;
}

h1 {
    font-family: 'libre', serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
    color:rgb(0, 0, 0);
}

h2 {
    font-family: 'libre', serif;
    font-size: 1.5;
    font-weight: 400;
    color: #000000;
}

h3 {
    font-family: 'noto sans', sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-style: light;
}

p {
    color:#000000;
    font-size: 1rem;
    font-family: 'noto sans', sans-serif;
    font-weight:300;
    font-style: light;
}

.spaced-text {
  line-height: 1.8; /* Adjust this value to your liking */
}


/*footer*/
#footer {
    background-color: #faf3eb; 
    padding: 20px;
    position: relative; /* Can be changed to fixed or absolute if needed */
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;

  }

  .info {
    font-size: .9rem;
  }

  .copyright {
    font-size: .7rem;
    padding-top: 25px;
  }

  .fa-heart {
    color: #b65577;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
  }
  
  .footer-links a:hover {
    color:#79b19f
  }
